body {
  font-family: 'Oxanium';
  background-color: #e9dcdc; }

.navbar {
  background-color: violet !important; }
  .navbar .navbar-brand {
    color: #5f0d44 !important;
    font-size: 30px; }
    .navbar .navbar-brand img {
      width: 100px; }
  .navbar .cuentas {
    list-style: none; }
    .navbar .cuentas a {
      text-decoration: none;
      margin: 16px 16px 16px 0px;
      color: white; }
  .navbar .carritoIcon {
    margin-left: 16px; }

main {
  margin-top: 3.5cm;
  width: 100%; }
  main section {
    margin-top: 1cm; }

footer {
  background-color: #040430;
  color: whitesmoke;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .flex-icons {
    display: flex;
    justify-content: center;
    gap: 10px; }
    footer .flex-icons svg {
      color: violet; }
    footer .flex-icons svg:hover {
      width: 60px;
      height: 60px; }

/* --------------- INDEX DESKTOP --------------- */
/* PRODUCTOS INDEX */
.carousel-inner .carousel-item img {
  object-fit: cover;
  max-height: 550px;
  position: center; }

.carousel-inner .carousel-gow
img {
  object-fit: cover;
  object-position: top; }

.title {
  display: flex;
  justify-content: center;
  margin-top: 1.5cm; }

#gameCards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%; }
  #gameCards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 25px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin: 25px; }
    #gameCards .card:hover {
      background-image: linear-gradient(to left, #fffffb, #d8caca); }
    #gameCards .card .cardImg {
      width: 80%; }
    #gameCards .card .cardPrice {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px; }
    #gameCards .card .buttonCTA {
      margin: 10px 0;
      background-color: #d84d4d;
      color: #f7f7f7;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer; }
    #gameCards .card .buttonCTA:hover {
      background-color: #b84040;
      box-shadow: 1px 1px 10px lightgrey; }

/* CARRITO */
.cartHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 30px; }
  .cartHeader img {
    width: 50px;
    margin-right: 30px; }
  .cartHeader .totalItemsCarrito {
    background-color: lightblue;
    margin-left: 30px;
    padding: 10px;
    border-radius: 30px; }

#cartContainer {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px; }
  #cartContainer .cartRow {
    background-image: linear-gradient(to left, #3b1b86, lightblue);
    border: 1px solid gray;
    width: 70%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #cartContainer .cartRow .cartImg {
      display: flex;
      justify-content: center;
      width: 15%;
      /* EL CONTENEDOR DE LA IMAGEN OCUPA UN 15% DEL ANCHO DE CART ROW  */ }
      #cartContainer .cartRow .cartImg img {
        width: 100%;
        /* LA IMAGEN OCUPA UN 100% DE CART IMG (QUE OCUPA 15% DE CARTROW) */ }
    #cartContainer .cartRow .cartTitle {
      width: 35%;
      margin-left: 16px;
      text-align: center; }
    #cartContainer .cartRow .cartDesc {
      width: 25%;
      text-align: center; }
    #cartContainer .cartRow .cartPrice {
      width: 25%;
      text-align: center; }
    #cartContainer .cartRow .borrarJuego {
      padding: 25px;
      cursor: pointer; }
      #cartContainer .cartRow .borrarJuego img {
        width: 30px; }

/* BOTONES PARA VACIAR, FINALIZAR COMPRA, IR A SECCION PRODUCTOS */
.buttonClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  gap: 20px; }
  .buttonClass .vaciar {
    background-color: violet;
    padding: 15px; }
    .buttonClass .vaciar:active {
      color: whitesmoke; }
    .buttonClass .vaciar:hover {
      background-image: linear-gradient(to bottom, transparent, #462246); }
  .buttonClass .finalizarCompra {
    background-color: violet;
    padding: 15px; }
    .buttonClass .finalizarCompra:active {
      color: whitesmoke; }
    .buttonClass .finalizarCompra:hover {
      background-image: linear-gradient(to bottom, transparent, #462246); }
  .buttonClass .verProductos {
    background-color: violet;
    padding: 15px; }
    .buttonClass .verProductos:active {
      color: whitesmoke; }
    .buttonClass .verProductos:hover {
      background-image: linear-gradient(to bottom, transparent, #462246); }
  .buttonClass .irArriba {
    margin-top: 60px;
    background-color: #040429;
    color: whitesmoke;
    padding: 15px; }
    .buttonClass .irArriba:active {
      color: whitesmoke; }
    .buttonClass .irArriba:hover {
      background-image: linear-gradient(to bottom, transparent, #462246); }

/* --------------- MOBILE RESPONSIVE --------------- */
@media screen and (min-width: 0px) and (max-width: 450px) {
  .cartIcon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  /* INDEX MOBILE */
  main {
    margin-top: 3.5cm; }
  .carousel-item img {
    height: 170px; }
  #gameCards {
    flex-direction: column;
    align-items: center; }
    #gameCards .card {
      width: 70%; }
  #cartContainer .cartRow {
    flex-direction: column;
    height: 100%;
    align-items: space-between;
    justify-content: space-between; }
    #cartContainer .cartRow .cartTitle {
      margin: 0 auto; }
    #cartContainer .cartRow .cartImg {
      display: flex;
      justify-content: center; }
      #cartContainer .cartRow .cartImg img {
        width: 100px; }
    #cartContainer .cartRow .cartDesc {
      margin: 40px; }
  /* PRODUCTOS MOBILE    */
  /* FAQ MOBILE */
  /* CONTACTO MOBILE */ }

/* ----------------- TABLET RESPONSIVE ----------------- */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  .cartIcon {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  /* INDEX TABLET */
  .carousel-item img {
    width: 100%;
    height: 300px; }
  #gameCards .card {
    width: 40%; }
  /* PRODUCTOS TABLET    */
  /* FAQ TABLET */
  /* CONTACTO TABLET */ }
