body {
  font-family: 'Oxanium';
  background-color: #e9dcdc; }

.navbar {
  background-color: violet !important; }
  .navbar .navbar-brand {
    color: #5f0d44 !important;
    font-size: 30px; }
    .navbar .navbar-brand img {
      width: 100px; }
  .navbar .cuentas {
    list-style: none; }
    .navbar .cuentas a {
      text-decoration: none;
      margin: 16px 16px 16px 0px;
      color: white; }
  .navbar .cart {
    display: flex;
    margin-right: 15px; }
    .navbar .cart .cartIcon {
      margin-left: 16px;
      border: none;
      background: violet; }
      .navbar .cart .cartIcon .carritoIcon {
        padding: 5px; }
        .navbar .cart .cartIcon .carritoIcon:hover {
          color: #5f155f; }
    .navbar .cart .totalItemsCarrito {
      background-color: lightblue;
      margin-left: 3px;
      padding: 10px;
      border-radius: 30px; }

main {
  margin-top: 3.5cm;
  width: 100%; }
  main section {
    margin-top: 1cm; }

footer {
  background-color: #040430;
  color: whitesmoke;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .flex-icons {
    display: flex;
    justify-content: center;
    gap: 10px; }
    footer .flex-icons svg {
      color: violet; }
    footer .flex-icons svg:hover {
      color: #bb4fd6; }

/* ----------------------------------------------------------- *\



/* --------------- INDEX DESKTOP --------------- */
.carousel-inner .carousel-item img {
  object-fit: cover;
  max-height: 550px;
  position: center; }

.carousel-inner .carousel-gow img {
  object-fit: cover;
  object-position: top; }

.filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  width: 100%;
  background-image: linear-gradient(to right, transparent, violet); }
  .filter .marcar {
    color: black; }
  .filter ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 12px; }
    .filter ul li {
      display: flex;
      align-items: center; }
      .filter ul li a {
        color: whitesmoke;
        text-decoration: none; }
        .filter ul li a:active {
          color: black; }
        .filter ul li a:hover {
          color: #2b0161; }
      .filter ul li .filter-eliminar {
        color: red; }

.marcar {
  color: black; }

.title {
  display: flex;
  justify-content: center;
  margin-top: 1cm; }

#gameCards, #juegoBuscado {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%; }
  #gameCards .card, #juegoBuscado .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 25px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin: 25px; }
    #gameCards .card:hover, #juegoBuscado .card:hover {
      background-image: linear-gradient(to left, #fffffb, #d8caca); }
    #gameCards .card .cardImg, #juegoBuscado .card .cardImg {
      width: 80%; }
    #gameCards .card .cardPrice, #juegoBuscado .card .cardPrice {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 10px; }
    #gameCards .card .buttonCTA, #juegoBuscado .card .buttonCTA {
      margin: 10px 0;
      background-color: #151566;
      color: #f7f7f7;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer; }
    #gameCards .card .buttonCTA:hover, #juegoBuscado .card .buttonCTA:hover {
      background-color: #250424;
      box-shadow: 1px 1px 10px lightgrey; }

/* MODAL */
.modal {
  display: none;
  background-color: #ec86d3;
  width: 40%;
  /* PIE DEL MODAL (SUBTOTAL / BOTON VACIAR / FINALIZAR COMPRA */ }
  .modal .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 10%;
    margin-bottom: 16px;
    font-size: 20px; }
    .modal .modalHeader .modalClose {
      cursor: pointer;
      background-color: #141141;
      color: white;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      font-weight: 600; }
      .modal .modalHeader .modalClose:hover {
        background-color: black;
        color: white; }
  .modal .modalBody {
    /* -------- CARRITO -------- */ }
    .modal .modalBody #cartContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px; }
      .modal .modalBody #cartContainer .cartRow {
        background-image: linear-gradient(to left, #3b1b86, lightblue);
        border: 1px solid gray;
        width: 90%;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
        .modal .modalBody #cartContainer .cartRow .cartImg {
          display: flex;
          justify-content: center;
          width: 15%;
          /* EL CONTENEDOR DE LA IMAGEN OCUPA UN 15% DEL ANCHO DE CART ROW  */ }
          .modal .modalBody #cartContainer .cartRow .cartImg img {
            width: 100%;
            /* LA IMAGEN OCUPA UN 100% DE CART IMG (QUE OCUPA 15% DE CARTROW) */ }
        .modal .modalBody #cartContainer .cartRow .cartTitle {
          width: 35%;
          margin-left: 16px;
          text-align: center; }
        .modal .modalBody #cartContainer .cartRow .cartDesc {
          width: 25%;
          text-align: center; }
        .modal .modalBody #cartContainer .cartRow .cartPrice {
          width: 25%;
          text-align: center; }
        .modal .modalBody #cartContainer .cartRow .cartCantidad {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: violet;
          margin-right: 30px;
          border-radius: 10px; }
          .modal .modalBody #cartContainer .cartRow .cartCantidad .restarCantidad, .modal .modalBody #cartContainer .cartRow .cartCantidad .sumarCantidad {
            margin: 10px;
            border: none; }
            .modal .modalBody #cartContainer .cartRow .cartCantidad .restarCantidad:hover, .modal .modalBody #cartContainer .cartRow .cartCantidad .sumarCantidad:hover {
              background-image: linear-gradient(to bottom, transparent, gray); }
        .modal .modalBody #cartContainer .cartRow .borrarJuego {
          padding: 25px;
          cursor: pointer; }
          .modal .modalBody #cartContainer .cartRow .borrarJuego img {
            width: 30px; }
            .modal .modalBody #cartContainer .cartRow .borrarJuego img:hover {
              background-color: violet;
              border-radius: 30px; }
  .modal .modalEnd {
    background-image: linear-gradient(to bottom, transparent, #141141); }
    .modal .modalEnd .buttonClass {
      display: flex;
      justify-content: center;
      margin: 25px;
      gap: 20px; }
      .modal .modalEnd .buttonClass .vaciar, .modal .modalEnd .buttonClass .finalizarCompra, .modal .modalEnd .buttonClass .verProductos {
        background-color: violet;
        padding: 15px; }
        .modal .modalEnd .buttonClass .vaciar:active, .modal .modalEnd .buttonClass .finalizarCompra:active, .modal .modalEnd .buttonClass .verProductos:active {
          color: whitesmoke; }
        .modal .modalEnd .buttonClass .vaciar:hover, .modal .modalEnd .buttonClass .finalizarCompra:hover, .modal .modalEnd .buttonClass .verProductos:hover {
          background-image: linear-gradient(to bottom, transparent, #462246); }
    .modal .modalEnd .subtotal {
      display: flex;
      margin: 25px;
      font-size: 20px; }

.modalOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/* --------------- MOBILE RESPONSIVE --------------- */
@media screen and (min-width: 0px) and (max-width: 450px) {
  .search {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
  .cart {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  /* INDEX MOBILE */
  main {
    margin-top: 3.5cm; }
  .carousel-item img {
    height: 170px; }
  .filter {
    justify-content: center;
    background-image: linear-gradient(to left, transparent, violet); }
    .filter ul {
      flex-direction: column;
      gap: 20px;
      list-style: none;
      margin-top: 12px; }
      .filter ul li a {
        color: whitesmoke;
        text-decoration: none; }
      .filter ul li .filter-eliminar {
        color: red; }
  #gameCards, #juegoBuscado {
    flex-direction: column;
    align-items: center; }
    #gameCards .card, #juegoBuscado .card {
      width: 70%; }
  .modal {
    width: 100%; }
    .modal .modalBody #cartContainer .cartRow {
      display: flex;
      justify-content: space-around; }
      .modal .modalBody #cartContainer .cartRow .cartTitle {
        display: none; }
      .modal .modalBody #cartContainer .cartRow .cartImg {
        width: 30%; }
      .modal .modalBody #cartContainer .cartRow .cartDesc {
        display: none; }
      .modal .modalBody #cartContainer .cartRow .cartCantidad {
        margin: auto; } }

/* ----------------- TABLET RESPONSIVE ----------------- */
@media screen and (min-width: 451px) and (max-width: 1024px) {
  .cart {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px; }
  /* INDEX TABLET */
  .carousel-item img {
    width: 100%;
    height: 300px; }
  #gameCards .card, #juegoBuscado .card {
    width: 40%; }
  .modal {
    width: 75%; }
    .modal .modalBody #cartContainer .cartRow {
      display: flex;
      justify-content: space-around; }
      .modal .modalBody #cartContainer .cartRow .cartTitle {
        display: none; }
      .modal .modalBody #cartContainer .cartRow .cartImg {
        width: 30%; }
      .modal .modalBody #cartContainer .cartRow .cartDesc {
        display: none; }
      .modal .modalBody #cartContainer .cartRow .cartCantidad {
        margin: auto; } }
